* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2392156863);
  border-radius: 10px;
}

:root {
  --background: #141518;
  --dark: #0f0f12;
  --primary: #f4ac2e;
  --secondary: #0b0c0c;
  --gray: #1a1b1f;
  --orange: #F05941;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: #fff;
  background-color: var(--background);
}

.navbar {
  padding: 0 80px;
  background-color: var(--gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: fixed;
  z-index: 99;
  width: 100vw;
}
.navbar .backdrop-closer,
.navbar .menu-toggle-icon {
  display: none;
}
.navbar .logo {
  font-size: 22px;
  font-weight: bold;
  background-image: linear-gradient(120deg, var(--orange), var(--primary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar nav ul {
  display: flex;
  list-style: none;
}
.navbar nav ul li {
  margin: 0px 50px;
}
.navbar nav ul li a {
  color: #68676b;
  font-weight: bold;
  line-height: 60px;
  height: 60px;
  display: block;
}
.navbar nav ul li a.active {
  position: relative;
  background-image: linear-gradient(120deg, var(--orange), var(--primary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar nav ul li a.active::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-image: linear-gradient(120deg, var(--orange), var(--primary));
}
.navbar .profile {
  position: relative;
}
.navbar .profile:hover .user-menu {
  display: block;
}
.navbar .profile .user-menu {
  display: none;
  position: absolute;
  top: 100%;
  margin-top: 0px;
  width: 170px;
  right: 0px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background: rgba(0, 0, 0, 0.75);
  border-radius: 6px;
  padding: 10px;
}
.navbar .profile .user-menu ul li {
  margin: 10px 0;
}
.navbar .profile .user-menu ul li a {
  color: rgba(255, 255, 255, 0.6);
}
.navbar .profile .profile-icon {
  background-color: rgba(255, 255, 255, 0.3607843137);
  border-radius: 50%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
}
.navbar .profile .profile-icon svg {
  font-size: 20px;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  left: 0;
}
.backdrop .closer {
  background-color: rgba(0, 0, 0, 0.662745098);
  position: absolute;
  width: 100%;
  height: 100%;
}
.backdrop .model {
  z-index: 1;
}

.main-container {
  display: flex;
  height: 100vh;
  padding-top: 80px;
}
.main-container .page {
  width: calc(100% - 300px);
  padding: 0px 25px;
  overflow-y: auto;
}

.side-bar {
  background-color: var(--background);
  width: 300px;
  height: 100%;
  padding: 0 0px 20px 20px;
}
.side-bar .box {
  border-radius: 16px;
  background-color: var(--secondary);
  height: 100%;
  width: 100%;
  padding: 20px;
  font-size: 16px;
}
.side-bar .box svg {
  margin-right: 5px;
}
.side-bar .box li {
  padding: 15px 20px;
}
.side-bar .box li a {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.side-bar .box li a img {
  width: 30px;
  margin-right: 10px;
}

.top-seach-bar {
  background-color: var(--secondary);
  padding: 20px;
  border-radius: 20px;
  color: #68676b;
  position: relative;
}
.top-seach-bar input {
  width: 100%;
  background-color: var(--gray);
  padding: 10px 12px;
  border-radius: 10px;
  outline-color: rgba(244, 171, 46, 0.4941176471);
  color: #fff;
}
.top-seach-bar input::-moz-placeholder {
  color: #68676b;
}
.top-seach-bar input::placeholder {
  color: #68676b;
}
.top-seach-bar svg {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.crypto-grid {
  display: flex;
  justify-content: center;
  padding: 30px 10px;
}
.crypto-grid .grid {
  width: 100%;
}
.crypto-grid .crypto-card {
  position: relative;
  background-image: linear-gradient(161deg, rgba(255, 255, 255, 0.6509803922) -8%, rgba(255, 255, 255, 0.5019607843), 18%, rgba(255, 255, 255, 0.1411764706), 55%, black 100%);
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 13px 9px rgba(26, 27, 31, 0.9215686275);
  padding: 15px;
  aspect-ratio: 1/1;
  margin-top: 60px;
  cursor: pointer;
}
.crypto-grid .crypto-card .img {
  width: 50%;
  margin: 10px;
  position: absolute;
  transform: translateY(-50%);
  filter: drop-shadow(0 0 5px #fff);
  background-color: #fff;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.crypto-grid .crypto-card .img img {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2392156863);
  border-radius: 50%;
}
.crypto-grid .crypto-card .img .delete {
  position: absolute;
  width: 100%;
  height: 100%;
}
.crypto-grid .crypto-card .img .delete svg {
  display: none;
}
.crypto-grid .crypto-card .detail {
  position: absolute;
  bottom: 0;
  padding: 40px 20px;
  width: 90%;
}
.crypto-grid .crypto-card .detail .name {
  font-size: 18px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.662745098);
}
.crypto-grid .crypto-card .detail .name span {
  font-size: 20px;
  color: #fff;
  font-weight: normal;
  margin-right: 10px;
}
.crypto-grid .crypto-card .detail .price {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
}
.crypto-grid .crypto-card.add-button {
  border: 2px dotted #fff;
  background-image: none;
  color: #68676b;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.crypto-grid .crypto-card.add-button svg {
  font-size: 40px;
  margin-bottom: 10px;
}
.crypto-grid .crypto-card.add-button span {
  font-size: 16px;
}
.crypto-grid .crypto-card:hover .img .delete {
  background-color: rgba(0, 0, 0, 0.662745098);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.crypto-grid .crypto-card:hover .img .delete svg {
  font-size: 50px;
  display: block;
  color: var(--orange);
}

.section {
  background-color: var(--secondary);
  border-radius: 20px;
  margin-bottom: 40px;
}

.portfolio {
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.portfolio .detail {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.portfolio .detail .title {
  font-size: 30px;
}
.portfolio .detail .balance {
  font-size: 50px;
  font-weight: bold;
}
.portfolio img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.holding {
  padding: 30px;
}
.holding table {
  width: 100%;
}
.holding table tr {
  border-bottom: 2px solid var(--gray);
}
.holding table td,
.holding table th {
  text-align: left;
  padding: 10px;
}
.holding table th {
  padding-bottom: 5px;
  color: var(--primary);
  font-weight: normal;
}

.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.auth-page .section {
  padding: 25px 40px;
  width: 400px;
}
.auth-page .section h3 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}
.auth-page .section form {
  margin-top: 20px;
}
.auth-page .section form .group {
  margin: 20px 0;
}
.auth-page .section form label {
  color: rgba(255, 255, 255, 0.831372549);
  display: inline-block;
  margin-bottom: 10px;
}
.auth-page .section form input {
  width: 100%;
  width: 100%;
  background-color: var(--gray);
  padding: 10px 12px;
  border-radius: 4px;
  outline-color: rgba(244, 171, 46, 0.4941176471);
  color: #fff;
}
.auth-page .section form input::-moz-placeholder {
  color: #68676b;
}
.auth-page .section form input::placeholder {
  color: #68676b;
}
.auth-page .section form button {
  border: 2px solid rgba(255, 255, 255, 0.768627451);
  color: rgba(255, 255, 255, 0.768627451);
  width: 100%;
  border-radius: 4px;
  padding: 8px 0;
  margin: 10px 0;
  font-weight: bold;
  transition: 0.4s all;
}
.auth-page .section form button:hover {
  background-color: var(--orange);
  border-color: var(--orange);
  color: #fff;
}
.auth-page .section a {
  text-align: center;
  display: block;
  margin: 10px 0;
  background-image: linear-gradient(120deg, var(--orange), var(--primary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.auth-page .section .password {
  position: relative;
}
.auth-page .section .password img {
  cursor: pointer;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.auth-page.signup .section {
  width: 500px;
}

.search-ticker {
  padding: 20px;
  width: 400px;
}
.search-ticker input {
  width: 100%;
  background-color: var(--gray);
  padding: 10px 12px;
  border-radius: 10px;
  outline-color: rgba(244, 171, 46, 0.4941176471);
  color: #fff;
}
.search-ticker input::-moz-placeholder {
  color: #68676b;
}
.search-ticker input::placeholder {
  color: #68676b;
}
.search-ticker .crypto-list {
  height: 400px;
  overflow: auto;
  margin-top: 20px;
}
.search-ticker .crypto-list .crypto-item {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.4s;
}
.search-ticker .crypto-list .crypto-item:hover {
  background-color: var(--gray);
}
.search-ticker .crypto-list .crypto-item img {
  width: 20px;
  margin-right: 10px;
}
.search-ticker .crypto-list .crypto-item .name {
  font-size: 14px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.662745098);
}
.search-ticker .crypto-list .crypto-item .name span {
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  margin-right: 10px;
}

.coin .left {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.coin .left .coin-details {
  display: flex;
  padding: 20px;
  margin-bottom: 40px;
  align-items: center;
}
.coin .left .coin-details img {
  width: 60px;
}
.coin .left .coin-details .info {
  margin-left: 20px;
}
.coin .left .coin-details .info .price {
  color: rgba(255, 255, 255, 0.5019607843);
}
.coin .left .coin-details .info .name {
  font-size: 28px;
  font-weight: bold;
}
.coin .left .graph {
  background: var(--secondary);
  padding: 20px;
  border-radius: 20px;
}
.coin .side-bar {
  width: 100%;
  padding-bottom: 20px;
}
.coin .side-bar input {
  width: 100%;
  background-color: var(--gray);
  padding: 10px 12px;
  border-radius: 10px;
  outline-color: rgba(244, 171, 46, 0.4941176471);
  color: #fff;
  margin-bottom: 10px;
}
.coin .side-bar input::-moz-placeholder {
  color: #68676b;
}
.coin .side-bar input::placeholder {
  color: #68676b;
}
.coin .side-bar .box {
  height: calc(100vh - 100px);
}
.coin .side-bar .box ul {
  overflow: hidden;
  overflow-y: auto;
  height: 92%;
}
.coin .side-bar .box .crypto-item {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.4s;
}
.coin .side-bar .box .crypto-item:hover {
  background-color: var(--gray);
}
.coin .side-bar .box .crypto-item img {
  width: 20px;
  margin-right: 10px;
}
.coin .side-bar .box .crypto-item .name {
  font-size: 14px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.662745098);
}
.coin .side-bar .box .crypto-item .name span {
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  margin-right: 10px;
}

.about .theme-text {
  margin: 10px 0;
  font-weight: bold;
  background-image: linear-gradient(120deg, var(--orange), var(--primary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about h2 {
  margin-bottom: 5px;
  font-weight: bold;
}
.about h2 span {
  font-size: 25px;
  margin: 10px 0;
}
.about p,
.about ul {
  text-align: justify;
  margin-bottom: 25px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9764705882);
}
.about p span,
.about ul span {
  background-image: linear-gradient(240deg, var(--orange), var(--primary));
  -webkit-background-clip: text;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
}
.about p li,
.about ul li {
  margin-bottom: 20px;
}
.about strong {
  -webkit-background-clip: text;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(240deg, var(--orange), var(--primary));
}

@media (max-width: 1280px) {
  .navbar {
    padding: 0 25px;
  }
}
@media (max-width: 1024px) {
  .side-bar {
    display: none;
  }
  .profile .email {
    display: none;
  }
  .main-container .page {
    width: 100%;
    padding: 0px 8px;
  }
  .main-container .page .coin .side-bar {
    padding: 0;
    display: block;
  }
  .main-container .page .coin .side-bar .box {
    height: auto;
  }
}
@media (max-width: 786px) {
  .navbar .backdrop-closer {
    position: absolute;
    display: none;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: 0.4s;
    opacity: 0;
    background: rgba(0, 0, 0, 0.3490196078);
  }
  .navbar nav {
    width: 60%;
    display: block;
    position: fixed;
    top: 60px;
    left: -100%;
    background: var(--secondary);
    height: 100%;
    overflow: hidden;
    transition: 0.4s all;
  }
  .navbar nav ul {
    flex-direction: column;
    width: 100%;
  }
  .navbar nav ul li {
    margin: 0 20px;
  }
  .navbar nav ul li a::before {
    display: none;
  }
  .navbar .left {
    display: flex;
    align-items: center;
  }
  .navbar .left .menu-toggle-icon {
    display: block;
  }
  .navbar .left .menu-toggle-icon img {
    width: 32px;
    margin-right: 12px;
  }
  .navbar.active nav {
    left: 0;
  }
  .navbar.active .backdrop-closer {
    display: block;
    opacity: 1;
  }
  .crypto-grid .crypto-card .img {
    width: 30%;
    top: 0;
  }
  .crypto-grid .crypto-card .detail {
    bottom: 0;
    padding: 40px 8px;
  }
  .crypto-grid .crypto-card .detail .price {
    font-size: 16px;
  }
  .holding {
    padding: 10px 4px;
  }
  .holding table td,
  .holding table th {
    font-size: 12px;
  }
  .crypto-grid .crypto-card .detail .name {
    font-size: 12px;
  }
  .crypto-grid .crypto-card .detail .name span {
    font-size: 15px;
  }
  .crypto-grid .crypto-card a {
    position: absolute;
    top: -30px;
    right: 0;
    padding: 10px;
  }
}/*# sourceMappingURL=main.css.map */